$heart: #db0e0e;

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
/* Heart styles */
.heart {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: $heart;
  border-radius: 0 0 0 10px;
  transform: rotate(-45deg);
  animation: pulse 1s infinite;
  box-shadow: 0 0 20px 2px $heart;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}
.heart::before,
.heart::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background: $heart;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px $heart;
}
.heart::before {
  top: -50px;
  left: 0;
}
.heart::after {
  top: 0;
  right: -50px;
}
@keyframes pulse {
  0%, 20% {
    transform: rotate(-45deg) scale(1);
  }
  30% {
    transform: rotate(-45deg) scale(1.2);
  }
  50% {
    transform: rotate(-45deg) scale(1);
  }
  60% {
    transform: rotate(-45deg) scale(1.1);
  }
  70%, 100% {
    transform: rotate(-45deg) scale(1);
  }
}
